.footer{
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-top: solid 1px var(--color-grey);
  display: flex;
  justify-content: right;
  font-size: var(--fs-body);

  >p{
    padding: 0 40px;
  
    line-height: 60px;
  border-left: solid 1px var(--color-grey);

    &:first-child{
      border-left: none;
    }
    a{
      text-decoration: underline;
    }
  }
}
@media (max-width:768px){
  .footer{
 
    flex-direction: column;
    >p{
      border-bottom: solid 1px var(--color-grey);
      border-left: none;
      text-align: right;
      &:last-child{
      border-bottom: none;

      }
      a{
      }
    }
  }
}
@media (max-width:500px){
  .footer{
    font-size: var(--fs-small);
    >p{
      padding: 0 20px;
      &:last-child{

      }
      a{
      }
    }
  }
}