.profileWrap {
  height: 600px;
  display: flex;
  border-bottom: solid 1px var(--color-grey);

  .infoList {
    width: calc(100% - 500px);
    height: 100%;
    background-color: var(--color-wh);
  padding-top: 60px;


    > li {
      max-height: 80px;
      border-bottom: solid 1px var(--color-grey);
      overflow: hidden;
      transition: max-height .6s ease-out;
        background-color: var(--color-wh);

      &.isActive {
        max-height: calc(100% - 160px);
        height: 100%;
        background-color: #fff;
        .title::after{
          max-width: 12px;
          margin-left: 6px;
          opacity: 1;
          animation: rotateInfinite 4s linear infinite;
          @keyframes rotateInfinite {
            0%{rotate: 0;}
            100%{rotate: 360deg;}
          }

        }
        .text{
        opacity: 1;

        }
      }
      &:last-of-type {
        border-bottom: none;
      }
      .title{
        width: 100%;
        line-height: 80px;
        text-align: right;
        padding-right: 30px;
        font-size:var(--fs-h4);
        text-transform: capitalize;
        flex-shrink: 0;
 
        &::after{
          content: '';
          display: inline-block;
          max-width: 0;
          width: 12px;
          height: 14px;
          background: url(../../../../assets/images/icon/c-star-s-bk.png) no-repeat;
          background-size: cover;
          transition: margin .3s ease-out;
          opacity: 0;
        }
      }
      .text{
        height: calc(100% - 80px);
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
        line-height: 1.8;
        padding: 40px 24px;
        flex-shrink: 0;
        opacity: 0;
        // font-weight: 300;
        transition: .3s ease-out;
        transition-delay: .2s;
        color: var(--color-bk);

        b{
          font-weight: 600;
          padding-left: 4px;
        }
        .icon{
          font-size: 16px;
          padding-left: 10px;
          display: flex;
          align-items: center;
        }
      }
    
        .text>p{
          display: flex;
          // b{
          //   font-size: 20px;
          //   margin-left: 10px;
          // }
          a{
            text-decoration: underline;
            }
          
        }
        
       
    }
  }
 
  .img {
    width: 500px;
    border-left: solid 1px var(--color-grey);
    background-color: #fff;
  padding: 100px 40px 40px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
    img{
      max-width: 100%;
      max-height: 100%;
      
    }
  }
}
@media (max-width:1200px) {
  .profileWrap {
    height: 460px;
    .infoList {
      width: calc(100% - 300px);

  
  
      > li {
        max-height: 60px;
  
        &.isActive {
          max-height: calc(100% - 120px);
          .title::after{
        
          }
          .text{
            
          }
        }
        &:last-of-type {
        }
        .title{
       
          font-size: 18px;
          line-height: 60px;
          &::after{
           
          }
        }
        .text{
        height: calc(100% - 60px);
        padding: 30px;
          b{
        
          }
          .icon{
           
          }
        }
      
          .text>p{
         
            a{
              }
            
          }
          
         
      }
    }
   
    .img {
     width: 300px;
      img{
      
        
      }
    }
  }
}
@media (max-width:1024px) {
  .profileWrap {
    flex-direction: column;
    height: auto;
    background-color: var(--color-wh);
    
    .infoList {
      width: 100%;
      order: 2;
      padding-top: 0;
      border-top: solid 1px var(--color-grey);
      > li {
        max-height: 60px;
  
        &.isActive {
          max-height: 600px;
          .title::after{
        
          }
          .text{
            
          }
        }
        &:last-of-type {
        }
        .title{
       
          font-size: 18px;
          line-height: 60px;
          &::after{
           
          }
        }
        .text{
        height: calc(100% - 60px);
        padding: 30px;
          b{
        
          }
          .icon{
           
          }
        }
      
          .text>p{
         
            a{
              }
            
          }
          
         
      }
    }
   
    .img {
     width: 300px;
      height: 300px;
      border-left: solid 1px var(--color-grey);
      margin-left: auto;
      img{
      
        
      }
    }
  }
}
@media (max-width:500px) {
  .profileWrap {
  
    
    .infoList {
    
      > li {
  
        &.isActive {
          .title::after{
            
          }
          .text{
            
          }
        }
        &:last-of-type {
        }
        .title{
       font-size: var(--fs-body);
          padding-right: 20px;
          &::after{
           width: 9px;
           height: 10px;
          }
        }
        .text{
          padding: 20px;
          padding-top: 0;
          font-size: var(--fs-small);
          b{
            padding-left: 0;
          }
          .icon{
           
          }
        }
      
          .text>p{
         
            a{
              }
            
          }
          
         
      }
    }
   
    .img {
      width: 100%;
      border-left: none;
      padding: 80px 20px 20px;
      img{
      
        
      }
    }
  }
}