.asideWrap {
  width: 250px;
  background-color: var(--color-wh);
  .month {
    height: 120px;
    padding-right: 40px;
    border-bottom: solid 1px var(--color-grey);
    line-height: 60px;
    padding: 0 40px;
    text-align: right;
    font-size: var(--fs-h4);
    font-style: italic;
    padding-top: 60px;
  }
  .inner {
    height: calc(100% - 120px);
    padding: 40px 30px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    
    .content {
      text-align: right;
      font-size: var(--fs-body);
      word-break: keep-all;
      animation: fadeIn 0.4s ease-out forwards;

      &.fadeIn{
        animation: fadeIn 0.4s ease-out forwards;

      }
      @keyframes fadeIn {
        0% {
          transform: translateY(5px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}
.head {
  display: flex;
  // width: calc(100% - 250px);
  border-bottom: solid 1px var(--color-grey);
  height: 120px;
  > li {
    width: calc(100% / 7);
    border-right: solid 1px var(--color-grey);
    line-height: 60px;
    padding: 0 20px;
    font-size: 18px;
    text-align: right;
    padding-top: 60px;

    &:last-child {
      border-right: none;
    }
  }
}
@media (max-width:1024px) {
  .asideWrap {
    width: 180px;
    .month {
 
    }
    .inner {
    
      .content {
     
      }
    }
  }
}
@media (max-width:768px) {
  .asideWrap {
    width: 100%;
    // position: fixed;
    // bottom: 0;
    border-top: solid 1px var(--color-grey);
    flex-wrap: wrap;
    .month {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      font-size: var(--fs-body);
      font-weight: 500;
      // border-bottom: none;

    }
    .inner {
      height: 80px;
      padding: 20px;
      font-size: var(--fs-small);
      overflow-y: scroll;

      .content {
     
      }
    }
  }
  .head {
    height: 100px;
    > li {
      font-size: var(--fs-body);
      line-height: 40px;
      &:last-child {
        border-right: none;
      }
    }
  }
}
@media (max-width:500px) {
  .asideWrap {
  
    .month {
   
    }
    .inner {
  
      .content {
     
      }
    }
  }
  .head {
    > li {
      font-size: var(--fs-small);
      padding-right: 10px;
      &:last-child {
      }
    }
  }
}