.header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 100;

  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  border-bottom: solid 1px var(--color-grey); 
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
    z-index: 100;
    .logo {
      width: 200px;
      height: 50%;
      a {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }
    .navBtn {
      width: 60px;
      height: 100%;
      border-left: solid 1px var(--color-grey);
      transition: all 0.1s ease-out;
      position: relative;
      // &::before {
      //   content: "";
      //   display: inline-block;
      //   width: 1px;
      //   height: 0%;
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   background-color: var(--color-grey);
      // }
      .path {
        width: 0;
        height: 1px;
        background-color: var(--color-grey);
        display: inline-block;
        position: absolute;
        right: 16px;
        top: 50%;
        transition: all 0.1s ease-out;
        animation: menuPathAni 0.4s linear forwards;
        @keyframes menuPathAni {
          0% {
            width: 0%;
            opacity: 0;
          }
          100% {
            width: 26px;
            opacity: 1;
          }
        }
        &:first-child {
          transform: translateY(-4px);
        }
        &:last-child {
          transform: translateY(4px);
          animation-delay: 0.1s;
        }
      }
      &:hover {
        .path:last-child {
          width: 22px;
        }
      }
      &.isActive {
        // background-color: var(--color-grey);

        .path {
          // background-color: #fff;
          &:first-child {
            transform: rotate(45deg);
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
        &:hover {
          .path:last-child {
            width: 38px;
          }
        }
      }
    }
  }
  .navi{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: right;
    border-bottom: solid 1px var(--color-grey);
    transition: .4s ease-out;
    height: 60px;
    &.isActive{
      bottom: -60px;
    }
    a{
      font-size: var(--fs-h4);
      height: 100%;
      display: flex;
      align-items: center;
      
      border-left: solid 1px var(--color-grey);
      padding: 0 20px;
      &::before{
        content: '';
        display: inline-block;
        max-width: 0;
        width: 12px;
        height: 14px;
        background: url(../../../assets/images/icon/c-star-s-bk.png) no-repeat;
        background-size: cover;
        transition: margin .3s ease-out;
        opacity: 0;
      }
      &.active{
        &::before{
        max-width: 12px;
        margin-right: 6px;
        opacity: 1;
        animation: rotateInfinite 4s linear infinite;
        @keyframes rotateInfinite {
          0%{rotate: 0;}
          100%{rotate: 360deg;}
        }
      }
    }
    }
  }
}
