.calendarWrap{
  display: flex;
  // padding-top: 60px;
  height: calc(100vh - 60px);
  .calendarInner{
    width: calc(100% - 250px);
    border-right: solid 1px var(--color-grey);
    height: 100%;
  
  }
}