.datesWrap{
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: scroll;

  display: flex;
  flex-wrap: wrap;
}
.month{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.date{
  width: calc(100% / 7);
  border-right: solid 1px var(--color-grey);
  border-top: solid 1px var(--color-grey);
  min-height: 82px;
  &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7){
    border-top: none;
  }
  &:nth-child(7n){
    border-right: none;
  }
  &.isAnotherMonth{
    background-color: var(--color-wh);
  }
  h2{
    font-size: var(--fs-body);
    padding: 16px 20px;
    text-align: right;
  }
  .contentList{
    padding: 0 12px 26px;
    max-height: 220px;
    overflow-y: scroll;
    >li{
      padding: 3px 8px ;
      border: solid 1px var(--color-grey);
      border-radius: 8px;
      font-size: var(--fs-body);
      margin-bottom: 8px;
      text-align: right;
      width: fit-content;
      margin-left: auto;
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2; // 원하는 라인수
      -webkit-box-orient: vertical;
      cursor: pointer;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}