.calendarWrap{
  display: flex;
  // padding-top: 60px;
  height: calc(100vh - 60px);
  .calendarInner{
    width: calc(100% - 250px);
    border-right: solid 1px var(--color-grey);
    height: 100%;
  
  }
}
@media (max-width:1024px) {
  .calendarWrap{
  
    .calendarInner{
      width: calc(100% - 180px);

    
    }
  }
}
@media (max-width:768px) {
  .calendarWrap{
    flex-wrap: wrap;
    height: 100vh;
    .calendarInner{
      width: 100%;
      border-right: none;
      height: calc(100% - 121px);
      // padding-bottom: 141px;
    
    }
  }
}