.projectsWrap{
  display: flex;
  h2{
    font-size: var(--fs-h1);
  padding: 40px;
    width: 310px;
    span{
      position: sticky;
      top: 140px;
    }
  }
  .projectBox{
    width: calc(100% - 310px);
    border-bottom: solid 1px var(--color-grey);
    display: flex;

    flex-wrap: wrap;
    &:last-child{
      border-bottom: none;
    }
    .video{

      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    border-bottom: solid 1px var(--color-grey);
    border-left: solid 1px var(--color-grey);
    padding: 40px;

      video{
        width: 500px;
        max-width: 100%;
      }
    }
    .desBox{
      border-bottom: solid 1px var(--color-grey);
      width: 100%;
      height: fit-content;
      display: flex;
    border-left: solid 1px var(--color-grey);

      &.half{
        width: 50%;

      }
      &:last-child{
        border-bottom: none;
        .desList{
          padding-bottom: 100px;
        }
      }
      h3{
        font-size: 18px;
        padding: 20px 40px;
        width: 200px;
      border-right: solid 1px var(--color-grey);

      }
      .desList{
        padding: 20px 40px;
        font-size: 18px;
        width: calc(100% - 200px);
        a{
          display: flex;
          align-items: center;
          text-decoration: underline;
          margin-bottom: 10px;
          word-break: break-all;
          &:last-child{
            margin-bottom: 0;
          }
          &::before{
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 8px;
            transform: translateY(1px);
          flex-shrink: 0;

          }
          &.service::before{
            background-image: url(../../../../assets/images/icon/c-gwating-favicon.svg);
          }
          &.git::before{
            background-image: url(../../../../assets/images/icon/c-github.svg);
          }
          &.notion::before{
            background-image: url(../../../../assets/images/icon/c-notion-logo.svg);
          }
       
          &.down::before{
            display: none;
          }
        }
      
        &.skills{
          display: flex;
          flex-wrap: wrap;
          padding-bottom: 12px;

          >li{
            padding:2px 6px;
            border: solid 1px var(--color-grey);
            color: var(--color-grey);
            width: fit-content;
            border-radius: 4px;
            font-size: var(--fs-body);
            margin-right: 8px;
            
            &::before{
              display: none;
            }
            &:last-child{
          margin-bottom: 8px;

            }
          }
        }
        >li{
          display: flex;
          align-items: flex-start;
          margin-bottom: 8px;
          line-height: 1.4;
          word-break: keep-all;
          &:last-child{
            margin-bottom: 0;
          }
          &::before{
            content: '';
            display: inline-block;
            width: 8px;
            height: 1px;
            background-color: var(--color-grey);
            margin-right: 10px;
            margin-top: 11px;
          }
          &.s{
            font-size: var(--fs-body);
            color: var(--color-mediumGrey);
            padding-left: 18px;
            margin-bottom: 10px;
            &:last-child{
              margin-bottom: 0;
            }

            &::before{
              display: none;
            }
          }
          &.b{
            color: var(--color-grey);
            font-weight: 500;
            padding: 6px 8px 4px;
            border-radius: 4px;
            width: fit-content;
            margin-left: 10px;
            margin-bottom: 10px;
            background-color: var(--color-wh);
            font-size: var(--fs-body);
            &:last-child{
              margin-bottom: 0;
            }

            &::before{
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width:1200px){
  .projectsWrap{
    h2{
      font-size: var(--fs-h3);
    padding: 40px;
      width: 220px;
      span{
        position: sticky;
        top: 100px;
      }
    }
    .projectBox{
      width: calc(100% - 220px);
  
      &:last-child{
      }
      .video{
  
    
        video{
        }
      }
      .desBox{
  
        &.half{
  
        }
        &:last-child{
          .desList{
          }
        }
        h3{
          width: 180px;
          padding: 20px 30px;
        }
        .desList{
          width: calc(100% - 180px);
          padding: 20px 30px;

          a{
         
            }
            &::before{
          
            }
            &.service::before{
            }
            &.git::before{
            }
            &.notion::before{
            }
         
            &.down::before{
            }
          }
        
          &.skills{
         
  
            >li{
             
              
              &::before{
              }
              &:last-child{
  
              }
            }
          }
          >li{
   
            &:last-child{
            }
            &::before{
         
            }
            &.s{
          
              &:last-child{
              }
  
              &::before{
              }
            }
            &.b{
              
              &:last-child{
              }
  
              &::before{
              }
            }
          }
        }
      }
    }
}
@media (max-width:1024px){
  .projectsWrap{
    h2{
      font-size: var(--fs-h4);
    padding: 40px;
      width: 170px;
      span{
        position: sticky;
        top: 100px;
      }
    }
    .projectBox{
      width: calc(100% - 170px);
  
      &:last-child{
      }
      .video{
  
    
        video{
        }
      }
      .desBox{
  
        &.half{
  
        }
        &:last-child{
          .desList{
          }
        }
        h3{
          font-size: var(--fs-body);
          padding: 20px;
          width: 140px;
        }
        .desList{
          width: calc(100% - 140px);
          padding: 20px 30px;
          font-size: var(--fs-body);
          padding: 20px;

          a{
         
            }
            &::before{
          
            }
            &.service::before{
            }
            &.git::before{
            }
            &.notion::before{
            }
         
            &.down::before{
            }
          }
        
          &.skills{
         
  
            >li{
             
              
              &::before{
              }
              &:last-child{
  
              }
            }
          }
          >li{
   
            &:last-child{
            }
            &::before{
         
            }
            &.s{
          
              &:last-child{
              }
  
              &::before{
              }
            }
            &.b{
              
              &:last-child{
              }
  
              &::before{
              }
            }
          }
        }
      }
    }
}
@media (max-width:768px){
  .projectsWrap{
    h2{
     writing-mode: tb;
     width: fit-content;
     padding: 20px 40px;
     padding-left: 41px;
      span{
        top: 80px;
      }
    }
    .projectBox{
      width: calc(100% - 110px);
  
      &:last-child{
      }
      .video{
  
    
        video{
        }
      }
      .desBox{
        flex-direction: column;
        h3{
          width: 100%;
          border-right: none;
          font-weight: 500;
        }
        &.half{
          width: 100%;
         
        }
        &:last-child{
          .desList{
          }
        }
       
        .desList{
          width: 100%;
          font-size: var(--fs-body);
          padding: 0 20px 20px;
        
          a{
         
            
            &::before{
              width: 20px;
              height: 20px;
            }
          
          }
        
          &.skills{
         
  
            >li{
              height: fit-content;
              &::before{
              }
              &:last-child{
  
              }
            }
          }
          >li{
            margin-bottom: 6px;
            line-height: 1.6;

            &:last-child{
            }
            &::before{
              width: 6px;
              margin-right: 6px;

            }
            &.s{
          margin-bottom: 6px;
          padding-left: 12px;
              &:last-child{
              }
  
              &::before{
              }
            }
            &.b{
              padding: 4px 10px;
              margin-left: 6px;
              &:last-child{
              }
  
              &::before{
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width:500px){
  .projectsWrap{
    h2{
      font-size: 18px;
      padding: 20px;
      span{
      }
    }
    .projectBox{
      width: calc(100% - 62px);
      &:last-child{
      }
      .video{
        padding: 0;
    
        video{
        }
      }
      .desBox{
        h3{
          padding-bottom: 12px;
        }
        &.half{
         
        }
        &:last-child{
          .desList{
            padding-bottom: 40px;
          }
        }
       
        .desList{
      
        
          a{
         
            flex-direction: column;
            align-items: flex-start;
            &::before{
              margin-bottom: 4px;
      
            }
            &.down{
              flex-direction: row;
              &::before{
                margin-bottom: 0;
              }
            }
          }
        
          &.skills{
         
  
            >li{
            font-size: var(--fs-small);
padding: 0 4px;
margin-right: 6px;

              &::before{
              }
              &:last-child{
  
              }
            }
          }
          >li{
            font-size: var(--fs-small);
            &:last-child{
            }
            &::before{

            }
            &.s{
            font-size: var(--fs-small);

              &:last-child{
              }
  
              &::before{
              }
            }
            &.b{
            font-size: var(--fs-small);

              &:last-child{
              }
  
              &::before{
              }
            }
          }
        }
      }
    }
  }
}