.wrap{

  border-bottom: solid 1px var(--color-grey);
}


.spiritsWrap{
  display: flex;

}
.skillsWrap{
  border-bottom: solid 1px var(--color-grey);
  display: flex;
  h2{
    font-size: var(--fs-h3);
    writing-mode: tb;
    padding: 20px 40px;
    border-right: solid 1px var(--color-grey);
  }

}
@media (max-width:1200px){
  .skillsWrap{
   
    h2{
      font-size: var(--fs-h4);
 
    }
  
  }
}
@media (max-width:768px){
  .skillsWrap{
   
    h2{
      font-size: var(--fs-h4);
      span{
        position: sticky;
        top: 80px;
      }
    }
  
  }
}
@media (max-width:500px){
  .skillsWrap{

    h2{
      font-size: 18px;
      padding: 20px;
    
    }
  
  }
}