@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
.triggerWrap {
  width: 100%;
  font-size: 160px;
  padding: 20px 0 40px;
  overflow: hidden;
  white-space: nowrap; // ul 내부의 li 요소가 한 줄에 나열되도록 설정
  position: relative; // relative positioning for pinning
  color: var(--color-wh);

  ul {
    display: flex;

    width: fit-content;
    padding: 0;
    margin: 0;
    padding: 0 100px;
  }

  li {
    width: auto;
    display: inline-block; // li 요소가 줄 바꿈되지 않도록 설정
    &:nth-child(2n + 1) {
      font-style: italic;
    }
  
  }
}
@media (max-width:1200px){
  .triggerWrap {
    font-size: 120px;

  
    ul {

    }
  
    li {
     
    
    }
  }
}
@media (max-width:1200px){
  .triggerWrap {
    font-size: 80px;
    padding-bottom: 20px;
  
    ul {

    }
  
    li {
     
    
    }
  }
}